$mainColor: #cfd0df;
$secondColor:#4545a1;
$fontColor:#F5F5F5;
$hamburgerColor:#5FFBF1;
$btn-glass: rgba(95, 92, 92, 0.158);

$main-gradient:linear-gradient(45deg, #0e0c97a4, #020531ab, #0c0d2eb4, #090e4d70, #383781b4);

$main-gradient-card:linear-gradient(45deg, #0e0c97a4, #020531ab, #0c0d2eb4, #be4dc270, #9d53a0b4);

$nav-gradient:linear-gradient(45deg, #03000cf6, #050111f6, #02000cf3, #05000ef3, #00000eee);

$burger-gradient:linear-gradient(45deg, #99ff99, #91e590, #89cb86, #80b27d, #779a74);

$main-gradient-solid:linear-gradient(45deg, #03024df6, #02063df5, #03053bf5, #030741ec, #040349ec);

 
